pydantic
pygbif
requests-cache==0.5.2  # required by pygbif, newer version are lacking some .core dependency
Pillow
SQLAlchemy
piexif
python-dateutil
pykew
fastapi
starlette==0.17.1  # newer versions seem not to work (with fastapi?)
bs4
uvicorn
aiofiles
beautifulsoup4
Unidecode
Wikidata
requests
python-multipart
toml
# pandas
# matplotlib
python-dotenv
scikit-learn
python-jose[cryptography]
passlib[bcrypt]
