pygbif==0.6.2
requests-cache==0.9.8  # required by pygbif, newer version are lacking some .core dependency
# requests-cache==0.5.2  # required by pygbif, newer version are lacking some .core dependency
Pillow==9.4.0
SQLAlchemy>=2.0.0
piexif
python-dateutil
pykew
fastapi==0.89.1
# starlette==0.17.1  # noqa  # newer versions seem not to work (with fastapi?)
starlette==0.22.0  # noqa  # newer versions seem not to work (with fastapi?)
bs4
uvicorn
aiofiles
beautifulsoup4
Unidecode
numpy
Wikidata
requests==2.28.2
python-multipart
toml
pandas==1.5.3
# matplotlib
# python-dotenv
pydantic[dotenv]==1.10.4
scikit-learn==1.2.1
psycopg2
pytz==2022.7.1
pytest
httpx
alembic
asyncpg
pytest-asyncio